@model OAuth2.Provision

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Provision</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationId, "Application")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApplicationId", String.Empty)
            @Html.ValidationMessageFor(model => model.ApplicationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Domain)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Domain)
            @Html.ValidationMessageFor(model => model.Domain)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RedirectUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RedirectUrl)
            @Html.ValidationMessageFor(model => model.RedirectUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsEnabled)
            @Html.ValidationMessageFor(model => model.IsEnabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Secret)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Secret)
            @Html.ValidationMessageFor(model => model.Secret)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomAppData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomAppData)
            @Html.ValidationMessageFor(model => model.CustomAppData)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
