@model OAuth2.Provision

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Provision</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.CustomerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Application.ApplicationName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Application.ApplicationName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Domain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Domain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RedirectUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RedirectUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsEnabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsEnabled)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Secret)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Secret)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomAppData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomAppData)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
